@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FAIL SAFE IF VIDEO DOESN'T LOAD*/
#videobg {
  background: url(video.jpg) no-repeat;
  background-size: cover;
}

/* MOUSE CLICK ICON */
.mouseClick {
  margin-top: 70px;
}

.no-underline:link {
  text-decoration: none;
}

.no-underline:visited {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.no-underline:active {
  text-decoration: none;
}
/* navbar styling */
.navbar {
  padding: 20px;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  opacity: 0.8;
}
/* ABOUT STYLING */
/* HERO  */
.about-hero {
  background: url(../images/about-hero.jpg) no-repeat center center/cover;
}
/* container content centering */
.container-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content {
  line-height: 1.9rem;
}
/* UP ARROW STYLING */
#upArrow {
  margin-right: 40px;
}

/* SEARCH BUTTON STYLING */
.COVIDbuttonStyle {
  border: none;
}

/* COLUMN CONTAINING 3 MAIN CONTENT ITEMS */
#mainContent {
  margin: 10px;
}

/* CONTACT US & NEWSLETTER ELEMENTS*/
#contactUs {
  margin: 40px 10px 30px 10px;
}
