/* Fail safe if video doesn't load */
    #videobg {
        background: url(video.jpg) no-repeat;
        background-size: cover;
    }

/* SEARCH BUTTON STYLING */
    .COVIDbuttonStyle {
        border: none;
    }


#mainContent {
    margin: 10px;
}

.columnBorder {
    border-right: 1px solid black;
}

#contactUs {
    margin: 40px 10px 30px 10px;
}

.newsletterInfo h2 span, .newsletterInfo p span {
    color: rgba(8, 47, 81);
    font-weight: bold;
}

/* Media query for mobile screens only */

/* @media only screen and (max-width: 480px) {
.heroImage {
    display: none;
}}; */
